<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <!--<add name="mssqldb" providerName="System.Data.SqlClient" connectionString="Data Source=SAYEM-PC\SQLEXPRESS;Initial Catalog=shopping_cart_db;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <!--<add name="mssqldb" providerName="System.Data.SqlClient" connectionString="User Id=sa;Password=sa;Data Source=DB_SERVER;Initial Catalog=Database_Name;MultipleActiveResultSets=True" />-->
    <add name="mssqldb" providerName="System.Data.SqlClient"  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AppDB.mdf;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>